<div template></div>
<div id="contentContainer" class="container-fluid">
    <div id="doubleWrapper">
        <h2>Featured</h2>
        <span us-spinner="{radius:30, width:8, length: 16}"></span>
        <div id="topWrapper" class="row wrapper grid cs-style-3">
            <div ng-repeat="serie in featuredSeries">
                <div ng-click="detail(serie)">
                    <figure>
                        <div ng-if="serie.cover_img_url == 'N/A'">
                            {{serie.cover_img_url = 'img/no_img.png'}}>
                        </div>
                        <img ng-src="{{serie.cover_img_url}}">
                        <figcaption class="row">
                            <div class="col-md-3">
                                <h3>{{serie.title}} </h3>
                                <span>{{serie.actors}}</span>
                            </div>
                            <div class="col-md-9">
                                <p>{{serie.synopsis}}</p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>

        <h2>You might like those</h2>
        <div id="botWrapper" class="row wrapper grid cs-style-3">
            <div ng-repeat="serie in favouritesSeries">
                <div ng-click="detail(serie)">
                    <figure>
                        <div ng-if="serie.cover_img_url == 'N/A'">
                            {{serie.cover_img_url = 'img/no_img.png'}}>
                        </div>
                        <img ng-src="{{serie.cover_img_url}}">
                        <figcaption class="row">
                            <div class="col-md-3">
                                <h3>{{serie.title}} </h3>
                                <span>{{serie.actors}}</span>
                            </div>
                            <div class="col-md-9">
                                <p>{{serie.synopsis}}</p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
