<div nav-bar></div>
<div id="contentContainer" class="container-fluid row">
    <div id="leftContainer" class="col-md-3">

        <div id="circular">
            <div ng-if="user.avatar_img == ''">
                {{user.avatar_img= '../../circle.png'}}>
            </div>
            <img class="img-circle" src="{{user.avatar_img}}">
        </div>


        <div id="singleDisplay" class="col-md-8">
            <div id="txtSingleUser">
                <h3>Personnal data</h3>

                <form>
                    Account:<br>
                    <input type="text" name="pseudo" ng-model="user.pseudo"><br>
                    Gender:<br>
                    <input type="radio" name="gender" ng-model="user.gender" value="Homme"> Male<br>
                    <input type="radio" name="gender" ng-model="user.gender" value="Femme"> Female <br>

                    Avatar: <br> <input type="text" ng-model="user.avatar_img"><br>

                    Birthdate<br>
                    <input type="date" ng-model="user.birthday" name="birthdate"><br>

                    <div id="subscribe">
                        <button class="btn btn-info-outline sbs upd" ng-click="update(user)">Update</button>
                    </div>

                </form>
            </div>
        </div>
    </div>


    <span class="col-md-1" style="border-left:1.5em #6dbec9 solid;  height:100%;"></span>

    <div id="rightContainer" class="col-md-8">

        <div ng-if="!seriesIsEmpty">
            <div class="col-md-12"><h2>Subscribed</h2></div>
            <div class="col-md-12"><label>Search: <input ng-model="searchSeries"></label></div>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <th></th>
                    <th>Title</th>
                    <th>Show</th>
                    <th>Subscribed</th>
                    </thead>
                    <tr ng-repeat="serie in series | filter:searchSeries">
                        <td><img ng-click="detail(serie)" class="serie-profile-image" src="{{serie.cover_img_url}}">
                        </td>
                        <td>{{serie.title}}</td>
                        <td>
                            <button ng-click="detail(serie)" class="btn btn-info-outline sbs" ng-click="">Details
                            </button>
                        </td>
                        <td>
                            <button confirmed-click="unsubscribe(serie)" ng-confirm-click="Do you want to unsubscribe ?"
                                    class="btn btn-info-outline sbs">Unsubscribe
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>