<div template></div>
<div id="contentContainer" class="container-fluid">
    <span us-spinner="{radius:30, width:8, length: 16}"></span>
    <div class="row">
        <div class="col-md-12"><label>Search: <input ng-model="searchSeries"></label></div>
        <div ng-repeat="serie in toWatch | filter:searchSeries " ng-if="!serie.isEmpty">
            <div class="col-md-12"><h1>{{serie.title}}</h1></div>
            <div class="col-md-12">
                <div ng-repeat="season in serie.seasons" ng-if="!season.isEmpty">
                    <div class="col-md-12"><h3>Saison{{season.number}}</h3>
                        <div>
                            <table class="table">
                                <thead>
                                <th>No</th>
                                <th>Titre</th>
                                <th>Synopsis</th>
                                <th>Vus</th>
                                </thead>
                                <tr ng-repeat="episode in season.episodes">
                                    <td>{{episode.number}}</td>
                                    <td>{{episode.title}}</td>
                                    <td>{{episode.description}}</td>
                                    <td><input type="checkbox" id="{{episode.$$hashKey}}" ng-click="episodeSelected(episode)" ng-checked="episode.isWatched"/><label for="{{episode.$$hashKey}}"><span class="ui"></span>&nbsp;</label></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>