/*-TEMPLATE ------------------------------------------------------*/
body {
    background: url(../bg_swatch.png) no-repeat center center fixed;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.container {
    min-width: 100%;
    padding: 0;

}

.menu {
    height: 100px;
    padding: 25px;
}

.navbar {
    background-color: #f9f7f7;
}

.navbar-brand {
    padding: 0;
    margin: -5px;
    vertical-align: middle;

}

.navbar-brand img {
    vertical-align: middle;
    margin: -6px;
}

.search {
    padding: 0 25px 0 25px;
    display: inline-block;
    outline: 0;
    float: none;
    margin-left: 25%;
}

.navbar-default .navbar-nav > li > a {
    font-family: 'Lato';
    color: #6dbec9;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #f9f7f7;
    color: #6dbec9;
}

.form-group .form-control:focus {
    outline: none;
}

#prof_pic {
    min-width: 42px;
    min-height: 42px;
    margin-left: 45px;

}
#prof_pic img{
    max-height:45px;
    max-width:45px;
}

.sform input {
    background: #6dbec9;
    border-radius: 20px;
    color: #f3f3f3;
    border: 0;
}

.sform input[type="text"], input[type="password"], textarea, select {
    outline: none !important;
}

/*PLACEHOLDER...*/
.sform input::-webkit-input-placeholder {
    color: #f3f3f3 !important;
}

.sform input:-moz-placeholder { /* Firefox 18- */
    color: #f3f3f3 !important;
}

.sform input::-moz-placeholder { /* Firefox 19+ */
    color: #f3f3f3 !important;
}

.sform input:-ms-input-placeholder {
    color: #f3f3f3 !important;
}

/*PLACEHOLDER*/

.sbutton, .sbutton:hover, .sbutton:focus, .sbutton:active, .sbutton:visited {
    border: 0;
    background: #f9f7f7 !important;
    outline: 0 !important;
}

.search button, .search button:hover, .search button:active, .sbutton:visited, .sbutton:focus {
    color: #6dbec9;

}

.navbar-right {
    margin-right: 2%;
}

.mright a:hover {
    color: #6dbec9 !important;

}

/* CONTENT CONTAINER */
#contentContainer {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 15%;
    left: 10%;
    background: #f3f3f3;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
}

/*HOVER THUMBNAIL*/

.searchImg {
    max-width: 300px;
    max-height: 370px;
}

figure img {
    width: 182px;
    height: 268px;
}

.Sbox {
    height: 550px;
}

.grid figure {
    max-width: 182px;
    max-height: 268px;
    display: inline-block;
    padding: 0;
    margin: 0;
    float: left;
    overflow-x: auto;

    overflow-y: hidden;
}

.grid figcaption {
    position: fixed;
    top: 0;
    left: 0;

    background: #596572;
    color: #6dbec9;

}

.grid figcaption p {
    color: #f3f3f3;
    margin-left: auto;
    margin-right: auto;
    text-align: left;

    padding: 1%;
}

.grid figcaption span {
    padding: 0;
    padding-left: 4%;
    font-size: 1.3em;
}

.grid figcaption h3 {
    font-size: 1.8em;
    margin: 0;
    padding: 4% 0 0 4%;
    color: #fff;
}

.grid figcaption span:before {
    content: 'by ';
}

/* Caption Style 3 */
.cs-style-3 figure {
    overflow: hidden;
}

.cs-style-3 figure img {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {

    transform: scale(1.15) rotate(0.1deg);
}

.cs-style-3 figcaption {
    height: 10%;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;

    top: auto;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
    opacity: 1;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
    position: absolute;

}

/*END HOVER */
/*END CONTENT CONTAINER  */

/* END TEMPLATE ------------------------------------------------------*/
/* HOME */
#topWrapper, #botWrapper {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.wrapper {
    display: flex;
    padding: 0;

}

.wrapper img {

    float: left;
}

#contentContainer h2 {
    font-family: lato;
    color: #6dbec9;
    font-size: 2em;

}

/* END HOME */

/* AUTHENTIFICATION *-------------------------------------------------*/

.vertical-center {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.well {
    min-width: 300px;
    background-color: #6dbec9;
    font-family: 'Lato';
    border: 0px;
    border-radius: 0;
}

.well h3 {
    color: #f3f3f3;
    padding: 5px 20px 20px 20px;
    text-align: center;
    text-transform: uppercase;

}

.btn {
    border: 0;
    outline: 0;
}

/* AUTHENTIFICATION *-------------------------------------------------*/
/* SINGLE PAGE --------------------------------------------------------*/
#circular img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: teal;
}

#circular {
    margin: 15%;
    text-align: center;

}

#subscribe {
    text-align: center;
}

.sbs {
    position: relative;
    vertical-align: top;
    width: 70%;
    height: 60px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #6dbec9;
    border: 0;
    border-bottom: 2px solid #57a0aa;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #57a0aa;
    box-shadow: inset 0 -2px #57a0aa;
}

#bar {
    height: 100%;
    width: 20px;
    border: 1px black;
}

select {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
    background-color: #6dbec9;
    background-repeat: no-repeat;
    background-position: right 10px top 20px;
    background-size: 16px 16px;
    color: white;
    padding: 18px;
    padding-right: 30px;

    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -ms-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 75px;
    cursor: pointer;
    padding-right: 25px;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    left: 0;
    top: -3px;
    width: 65px;
    height: 30px;
    background: #DDDDDD;
    border-radius: 15px;
    transition: background-color .2s;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    width: 20px;
    height: 20px;
    transition: all .2s;
    border-radius: 50%;
    background: #7F8C9A;
    top: 2px;
    left: 5px;
}

/* on checked */
[type="checkbox"]:checked + label:before {
    background: #34495E;
}

[type="checkbox"]:checked + label:after {
    background: #6dbec9;
    top: 2px;
    left: 40px;
}

[type="checkbox"]:checked + label .ui,
[type="checkbox"]:not(:checked) + label .ui:before,
[type="checkbox"]:checked + label .ui:after {
    position: absolute;
    left: 6px;
    width: 65px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    transition: all .2s;
}

[type="checkbox"]:not(:checked) + label .ui:before {
    content: "no";
    left: 32px
}

[type="checkbox"]:checked + label .ui:after {
    content: "yes";
    color: #6dbec9;
}

[type="checkbox"]:focus + label:before {
    border: 1px dashed #777;
    box-sizing: border-box;
    margin-top: -1px;
}

#selectSeason, #selectEpisode {
    margin-top: 8%;
}

#txtSingle {
    font-size: 1.8em;
}

#txtSingle h3 {
    font-size: 2.2em;
}

#selectEpisode p {
    float: left;
}

#singleDisplay {
    padding: 5%;
}

/* END SINGLE PAGE*/
/* CALENDER ------------- */
#clndrWrapper {

}

.clndr {

    min-width: 20%;
    max-width: 70%;
    margin: 0 auto;
    margin-top:25%;

}

#thumb_clndr{
    max-width:170px;
    max-height:233px;
}
#txt_clndr{
    display:inline-block;
    padding:5%;
}
.lcalendar{
    margin:5%;
}
#eventwrapper{
    overflow-y:auto;
}
.date_event {
    text-align: center;
    font-family: Lato, sans-serif;
    background-color: #888a85;
    width: 100%;
    color: #f3f3f3;
    height: 10%;
    font-size: 2em;
}

.img_event img{
    max-height:300px;
    max-width:250px;
}
/*- END CALENDAR */
