<div ng-controller="NavController">
    <nav class="navbar navbar-default navbar-static-top menu">
        <a class="navbar-brand" href="/"><img src="logo_serialwatcher.png"></a>
        <div id="mcontainer">
            <form class="navbar-form navbar-default search" role="search">
                <div class="form-group sform">
                    <input id="manuleswaggy" type="text" class="form-control" placeholder="Search"
                           ng-model="searchText">
                </div>
                <button ng-click="search()" type="submit" class="btn sbutton btn-default"><i class="fa fa-search fa-lg "
                                                                                             aria-hidden="true"></i>
                </button>
            </form>
            <ul class="nav navbar-nav navbar-right">

                <li ng-if="user" class="mright"><a href="auth">Welcome {{user.pseudo}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    /</a></li>
                <li class="mright"><a href="profile">Profile &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/ </a></li>
                <li class="mright"><a href="towatch">To Watch &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/ </a></li>
                <li class="mright"><a href="calendar">Calendar &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/ </a></li>

                <li ng-if="!user" class="mright"><a href="signup">Sign up &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/ </a></li>
                <li ng-if="!user" class="mright"><a href="auth">Sign in</a></li>
                <li ng-if="user" class="mright"><a ng-click="logout()" href="#">Log out</a></li>

                <a id="prof_pic" href="profile">
                    <div ng-if="user.avatar_img == ''">
                        {{user.avatar_img= '../../circle.png'}}>
                    </div>
                    <img ng-src="{{user.avatar_img}}">
                </a>
            </ul>
        </div>
    </nav>
</div>